container_commands:
  00-node-binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  00-npm-binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  50-run-migrations:
    command: "node ./node_modules/knex/bin/cli.js migrate:latest"
    leader_only: true

